extends layout

block content
    .jumbotron
        .container
            h1 How May I Help You?
            p Some Text
            a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
    .container
        .row
            .col-md-4
                h2 About Us
                p Some Text
                a.btn.btn-default(href='#') view Details
            .col-md-4
                h2 Services
                p Some Text
                a.btn.btn-default(href='#') view Details
            .col-md-4
                h2 Del In Touch
                p Some Text
                a.btn.btn-default(href='#') view Details
