extends layout

block content
    form(method='get' action='/category/add' class='addForm')
        h3 Add Category
        br
        div
            label Category Name:
            input(type='text', name='name')
            br
            div
                input(type='submit' value='Add Category')
        
