extends layout

block content
    h2 Browse doctors
    br
    ul.docs
        li
            h3 John Doe
            p Speciality: Dentist
            p Location: Boston MA, 01930
            p 
                a(href='/doctors/details/1') &gt; Details
        li
            h3 John Doe
            p Speciality: Dentist
            p Location: Boston MA, 01930
            p 
                a(href='/doctors/details/1') &gt; Details
        li
            h3 John Doe
            p Speciality: Dentist
            p Location: Boston MA, 01930
            p 
                a(href='/doctors/details/1') &gt; Details


        
