h2 Categories:
ul
    li
        a(href='doctors/category/1') General
    li
        a(href='doctors/category/1') Dentist
    li
        a(href='doctors/category/1') Nerologist
    li
        a(href='doctors/category/1') Emergency Doctor        
